# regression models both linear and non linear  are used to  pridict a real value.

    #### Types of machine learning regression models
    
    linear:
    
    simple linear regression 
    
    multiple linear regression
    
    polynomial regression
    
    non lineaar:
    
    support vector regression
    
    decision tree regression 
    
    random forest regression

# Steps

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

then creat object

then fit object or model

graph

check the scores ,mean actual and predicted value 

but here is multiple regression

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
s_sales =pd.read_csv(r"C:\Users\Ali Mir\Desktop\archive.zip")

In [3]:
s_sales.head()

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620

In [4]:
s_sales.isnull().sum()

Store ID                0
Store_Area              0
Items_Available         0
Daily_Customer_Count    0
Store_Sales             0
dtype: int64

In [5]:
#model and object
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [6]:
#train our model.
#if we have 4,6 coulmns or lower data , we can also train our model in this way ,not train test split
model.fit(s_sales[['Store_Area','Items_Available','Daily_Customer_Count']],s_sales.Store_Sales)

LinearRegression()

In [7]:
#m1,m2,m3 coef
model.coef_

array([-39.03556986,  38.23415464,   0.8046133 ])

In [8]:
#b
model.intercept_

48567.77884482472

In [9]:
# now predict the store sales 
model.predict([['store area'==2000,'items available'==1800,'daily customers count'==500]])

array([48567.77884482])

In [10]:
#above we will get sale 48567.77, more you can predict

In [14]:
#mean absolute  error
# agr negative b value ajaye tu tab b plus aye ga.
from sklearn.metrics import mean_absolute_error